<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>TicTacToe World</title>
    <meta name="description" content="The world's hottest TicTacToe community">
    <meta name="author" content="Zack Tillotson">

    <link rel="stylesheet" href="/assets/styles.css?v=1.0">
    <script src="/assets/app.js?v=1.0" defer></script>
    <script id="page-data">{data}</script>
  </head>

  <body>
    <navigation>
      <a href="/" class="logo"><img src="/assets/logo512.png" /></a>
      <a href="/news/">News</a>
      <a href="/about/">About</a>
    </navigation>
    <div id="root">{body}</div>
  </body>
</html>
